.upload-img.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload-img_prev {
  width: 12rem;
  height: 12rem;
  display: flex;
  border: 1px solid #CB9FED;
  justify-content: center;
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #CB9FED;
}

.upload-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}