.clothes-item {
    margin: 1rem 0;
  }
  
  .clothes-item_content {
    padding: 0;
  }
  
  .clothes-item_about {
    padding: 0rem;
    text-align: center;
  }
  
  .clothes-item_image {
    width: 100%;
    height: 16.5rem;
  }
  
  .clothes-item_image img {
    padding: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .clothes-item_info h2,
  .clothes-item_info h3,
  .clothes-item_info p {
    margin: 0 0 0.9rem 0;
  }
  
  .clothes-item_actions {
    padding: 1rem;
    text-align: center;
  }
  
  .clothes-item_actions button,
  .clothes-item_actions a {
    margin: 0.8rem;
  }
  
 